<div class="container">
  <div class="title">
    <h1>{{ group.name }}</h1>
    <button (click)="deleteGroupModal()" mat-button>Delete Group</button>
    <button (click)="removeUserModal()" mat-button>Kick User</button>
  </div>
  <!--<button (click)="changeColor()" mat-button>ChangeColor</button>-->
  <div class="group-previews">
    <cdk-accordion class="example-accordion">
      <cdk-accordion-item
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-'"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-'"
      >
        <div
          class="example-accordion-item-header"
          (click)="accordionItem.toggle()"
        >
          Group details
          <span class="example-accordion-item-description">
            Click to {{ accordionItem.expanded ? "close" : "open" }}
          </span>
        </div>
        <div
          class="example-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-'"
          [attr.aria-labelledby]="'accordion-header-'"
        >
          <h3>Users in this group</h3>
          <ul>
            <li *ngFor="let user of group.groupUsers">
              {{ user.username }}
            </li>
          </ul>
          <p>Group created at: {{ group.date }}</p>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>

  <div class="modal" id="modal">
    <div class="modal-header">
      <h1>Kick Users:</h1>
    </div>
    <ul>
      <li *ngFor="let user of group.groupUsers">
        {{ user.username }}
        <button (click)="removeUser(user.id)" mat-button>&times;</button>
      </li>
    </ul>
    <button (click)="removeUserModal()" mat-button>OK</button>
  </div>

  <div class="modal" id="confirmation">
    <div class="modal-header">
      <h1>Are you sure? This action cannot be reversed</h1>
    </div>
    <button (click)="deleteGroupModal()" mat-button>No</button>
    <button (click)="deleteGroup()" mat-button>Yes</button>
  </div>

  <div id="overlay"></div>
  <div class="title">
    <h1>Expenses:</h1>
    <button (click)="addExpenseToggle()" mat-button>Add an expense</button>
  </div>

  <!-- <div class="expense">
    <table mat-table [dataSource]="expenses" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          <span (click)="openExpense(element)">{{ element.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>Created at:</th>
        <td mat-cell *matCellDef="let element">{{ element.dateCreated }}</td>
      </ng-container>
      <ng-container matColumnDef="users">
        <th mat-header-cell *matHeaderCellDef>Participants:</th>
        <td mat-cell *matCellDef="let element">
          <span *ngFor="let user of element.users"> {{ user.username }}, </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
-->
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="let expense of expenses"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-'"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-'"
    >
      <div
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
      >
        "{{ expense.name }}": {{ expense.amount }}pln
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? "close" : "open" }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-'"
        [attr.aria-labelledby]="'accordion-header-'"
      >
        <hr />
        <h2>Users in this expense:</h2>
        <ul>
          <ng-container *ngFor="let user of expense.users">
            <li>
              {{ user.username
              }}<span *ngIf="user.owedAmount != 0"
                >{{ user.settled ? " owed: " : " still owes: " }}
                {{ user.owedAmount }}</span
              >
              <span *ngIf="user.owedAmount == 0"> was the one that paid</span>
              <span
                class="settle"
                (click)="openuser(expense, user)"
                mat-button
                *ngIf="!user.settled"
              >
                click To settle
              </span>
            </li></ng-container
          >
        </ul>
        Expense from: {{ expense.dateCreated }}
      </div>
    </cdk-accordion-item>
  </cdk-accordion>

  <div class="modal" id="expense">
    <div class="modal-header">
      <h1>Add an expense</h1>
      <button (click)="addExpenseToggle()" mat-button>&times;</button>
    </div>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Expense name"
          type="text"
          class="form-control"
          name="expenseName"
          [(ngModel)]="form.expenseName"
          required
          #username="ngModel"
        />
        <mat-error> Please provide a name for the expense</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Amount"
          type="text"
          class="form-control"
          name="amount"
          [(ngModel)]="form.amount"
          required
          #username="ngModel"
        /><mat-error> Please provide an amount</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Users</mat-label>
        <mat-select
          [formControl]="users"
          multiple
          ([value])="(usersForExpense)"
        >
          <mat-option *ngFor="let user of usersInGroup" value="{{ user.id }}">
            {{ user.username }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button (click)="addExpenseToggle()" mat-raised-button color="primary">
        Add Expense
      </button>
    </form>
  </div>
</div>
