<div class="container">
  <div class="title" routerLink="/home" routerLinkActive="active">
    CostShare
  </div>
  <div class="button-container" *ngIf="!isLoggedIn">
    <button
      mat-raised-button
      color="primary"
      routerLink="/login"
      routerLinkActive="active"
    >
      Log in
    </button>
    <button
      mat-raised-button
      color="accent"
      routerLink="/register"
      routerLinkActive="active"
    >
      Register
    </button>
  </div>
  <div class="user">
    <a class="user" *ngIf="isLoggedIn">User profile</a>
    <a class="user" *ngIf="isLoggedIn" routerLink="/groups">Manage groups</a>
  </div>
  <img
    *ngIf="isLoggedIn"
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="profile-img-card user"
  />
  <span class="user">
    {{ this.username }}
  </span>
  <a class="sign-out user" (click)="signOut()" *ngIf="isLoggedIn">Sign Out</a>
</div>
