<mat-card>
  <mat-card-content>
    <h2 *ngIf="!isLoggedIn">Log In</h2>
    <h2 *ngIf="isLoggedIn">You're already Logged In!</h2>
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Username"
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <mat-error> Please provide a valid username </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Password"
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <mat-error> Please provide a valid password </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Log in</button>
    </form>
  </mat-card-content>
  <p *ngIf="!isLoggedIn">
    Don't have an account?
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </p>
  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as : {{ this.user }}.
  </div>
</mat-card>
