mat-card {
  padding: 2em;
  max-width: 20em;
  margin: 2rem auto;
  text-align: center;
}

mat-form-field {
  display: block;
}
a {
  color: blue;
  cursor: pointer;
}
img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
