<mat-card>
  <mat-card-content>
    <form>
      <h2>Register</h2>
      <mat-error *ngIf="signinInvalid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Username"
          formControlName="username"
          required
        />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error> Please provide a valid password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Create account</button>
    </form>
  </mat-card-content>
  <p>
    Already have an account?
    <a routerLink="/login" routerLinkActive="active">Log in</a>
  </p>
</mat-card>
